In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
del [1,2,3,4][0]

In [21]:
a = [1,2,3,4]

In [31]:
del a[:2]

In [32]:
a

[]

In [30]:
def solution(s):
    s = list(s)
    i = 0
    while s:
        print(i)
        if s[i] == s[i+1]:
            del s[i:i+2]
            i = 0
            print(s)
        else:
            i += 1
            print(i)
            if i == len(s):
                return 0
    return 1

In [18]:
solution('cdcd')

0
1
1
2
2
3
3

IndexError: list index out of range

In [2]:
data=pd.read_csv('ratings_small.csv')

In [3]:
data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [8]:
data = data.pivot_table('rating', index='userId', columns='movieId')

In [9]:
data

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
movies = pd.read_csv('tmdb_5000_movies.csv')

In [14]:
movies.rename(columns={'id':'movieId'},inplace=True)

In [15]:
ratings=pd.read_csv('ratings_small.csv')

In [16]:
ratings_movies=pd.merge(ratings, movies, on='movieId')

In [17]:
ratings_movies

,userId,movieId,rating,timestamp,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,1,2105,4.0,1260759139,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
1,4,2105,4.0,949896114,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
2,15,2105,4.0,1052896867,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
3,30,2105,2.0,994439964,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
4,34,2105,4.0,973747765,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18566,652,26843,5.0,1440269953,35000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 36, ""nam...",NaN,"[{""id"": 131, ""name"": ""italy""}, {""id"": 539, ""na...",en,Lion of the Desert,...,"[{""iso_3166_1"": ""LY"", ""name"": ""Libyan Arab Jam...",1981-04-17,0,173.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He was a man of honor in a war without any.,Lion of the Desert,7.4,34
18567,652,103731,5.0,1439586954,10000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,"[{""id"": 1261, ""name"": ""river""}, {""id"": 1585, ""...",en,Mud,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-05-01,21587700,130.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Mud,7.0,1068
18568,659,167,4.0,836137550,48000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",http://www.k-pax.com/,"[{""id"": 642, ""name"": ""robbery""}, {""id"": 1566, ...",en,K-PAX,...,"[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2001-10-22,50315140,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Change the way you look at the world.,K-PAX,7.1,695
18569,659,563,3.0,834694187,105000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,"[{""id"": 305, ""name"": ""moon""}, {""id"": 1423, ""na...",en,Starship Troopers,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1997-11-06,121214377,129.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The only good bug is a dead bug.,Starship Troopers,6.7,1560
18570,665,129,3.0,995232528,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840

In [18]:
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18571 entries, 0 to 18570
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   userId                18571 non-null  int64
 1   movieId               18571 non-null  int64
 2   rating                18571 non-null  float64
 3   timestamp             18571 non-null  int64
 4   budget                18571 non-null  int64
 5   genres                18571 non-null  object
 6   homepage              7246 non-null   object
 7   keywords              18571 non-null  object
 8   original_language     18571 non-null  object
 9   original_title        18571 non-null  object
 10  overview              18571 non-null  object
 11  popularity            18571 non-null  float64
 12  production_companies  18571 non-null  object
 13  production_countries  18571 non-null  object
 14  release_date          18571 non-null  object
 15  revenue               18571 non-null  int64
 16  runtime               18571 non-null  float64
 17  spoken_languages      18571 non-null  object
 18  status                18571 non-null  object
 19  tagline               17018 non-null  object
 20  title                 18571 non-null  object
 21  vote_average          18571 non-null  float64
 22  vote_count            18571 non-null  int64
dtypes: float64(4), int64(6), object(13)
memory usage: 3.4+ MB

In [22]:
data = ratings_movies.pivot_table('rating', index='userId', columns='title').fillna(0)

In [25]:
data = data.T

In [26]:
data

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15 Minutes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Blocks,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"You, Me and Dupree",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Young Frankenstein,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
Zodiac,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
movie_sim = cosine_similarity(data, data)

In [30]:
movie_sim_df = pd.DataFrame(data = movie_sim, index = data.index, columns = data.index)

In [31]:
movie_sim_df

title,10 Things I Hate About You,12 Angry Men,1408,15 Minutes,16 Blocks,"20,000 Leagues Under the Sea",2001: A Space Odyssey,2046,21 Grams,25th Hour,...,Willy Wonka & the Chocolate Factory,World Trade Center,X-Men Origins: Wolverine,Y Tu Mamá También,You Only Live Twice,"You, Me and Dupree",Young Frankenstein,Zodiac,eXistenZ,xXx
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,1.000000,0.0,0.000000,0.182153,0.0,0.022069,0.085323,0.0,0.00000,0.103490,...,0.059856,0.0,0.161801,0.088076,0.0,0.0,0.097588,0.000000,0.000000,0.014121
12 Angry Men,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1408,0.000000,0.0,1.000000,0.447214,0.0,0.173381,0.028245,0.0,0.00000,0.000000,...,0.146955,0.0,0.148968,0.140265,0.0,0.0,0.191675,0.000000,0.000000,0.000000
15 Minutes,0.182153,0.0,0.447214,1.000000,0.0,0.077538,0.050526,0.0,0.00000,0.129863,...,0.197160,0.0,0.216516,0.141138,0.0,0.0,0.085720,0.115684,0.121365,0.000000
16 Blocks,0.000000,0.0,0.000000,0.000000,1.0,0.000000,0.000000,0.0,0.00000,0.000000,...,0.000000,0.0,0.130347,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"You, Me and Dupree",0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.0,1.0,0.000000,0.000000,0.000000,0.000000
Young Frankenstein,0.097588,0.0,0.191675,0.085720,0.0,0.204590,0.115720,0.0,0.00000,0.000000,...,0.230622,0.0,0.423840,0.236086,0.0,0.0,1.000000,0.214856,0.110536,0.204346
Zodiac,0.000000,0.0,0.000000,0.115684,0.0,0.014016,0.222842,0.0,0.00000,0.075115,...,0.359021,0.0,0.288208,0.201826,0.0,0.0,0.214856,1.000000,0.163801,0.105379
eXistenZ,0.000000,0.0,0.000000,0.121365,0.0,0.000000,0.079525,0.0,0.07253,0.000000,...,0.127951,0.0,0.241299,0.070183,0.0,0.0,0.110536,0.163801,1.000000,0.044104
xXx,0.014121,0.0,0.000000,0.000000,0.0,0.092985,0.069771,0.0,0.00000,0.000000,...,0.063687,0.0,0.129279,0.152272,0.0,0.0,0.204346,0.105379,0.044104,1.000000

In [35]:
movie_sim_df['Young Frankenstein'].sort_values(ascending=False)[1:31]

title
The Wedding Planner               0.486296
Mr. Holland's Opus                0.475480
Licence to Kill                   0.458651
Kiss of the Dragon                0.457311
American Pie                      0.448456
X-Men Origins: Wolverine          0.423840
Romeo Must Die                    0.405976
Me, Myself & Irene                0.402556
Dogtown and Z-Boys                0.401889
The 13th Warrior                  0.395605
I, Robot                          0.387270
The Beach                         0.386583
Valkyrie                          0.383646
Cop Land                          0.381069
Reign Over Me                     0.377621
The Terminal                      0.359632
The Astronaut's Wife              0.345824
The Aviator                       0.344303
The Butterfly Effect              0.341175
The Last Samurai                  0.338152
The Village                       0.337640
Roger & Me                        0.331654
Rambo III                         0.326493
An Unfinished Life                0.325735
Stranger Than Fiction             0.324325
Street Kings                      0.322508
Imagine Me & You                  0.317379
Batman Returns                    0.315841
Jay and Silent Bob Strike Back    0.314613
Barry Lyndon                      0.309418
Name: Young Frankenstein, dtype: float64

In [201]:
rating_data=pd.read_csv("ratings.csv")
movie_data=pd.read_csv("movies.csv")

In [202]:
rating_data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [203]:
movie_data

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [204]:
movies = pd.merge(movie_data, rating_data, on='movieId')

In [205]:
movies = movies.pivot_table('rating', index='title', columns='userId').fillna(0)

In [184]:
movies

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
title,,,,,,,,,,,,,,,,,,,,,
"""Great Performances"" Cats (1998)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$9.99 (2008),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Neath the Arizona Skies (1934),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
¡Three Amigos! (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
À nous la liberté (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
İtirazım Var (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
from sklearn.decomposition import TruncatedSVD # 차원 축소

In [185]:
css = cosine_similarity(movies, movies)

In [187]:
mc = pd.DataFrame(css, index = movies.index, columns = movies.index)

In [199]:
mc['Daredevil (2003)'].sort_values(ascending=False)[:20]

title
Daredevil (2003)                                              1.000000
Hellboy (2004)                                                0.518744
Shanghai Knights (2003)                                       0.491713
Elektra (2005)                                                0.464895
Just Like Heaven (2005)                                       0.462689
League of Extraordinary Gentlemen, The (a.k.a. LXG) (2003)    0.462620
X-Men: The Last Stand (2006)                                  0.454533
Ocean's Twelve (2004)                                         0.450855
Final Fantasy: The Spirits Within (2001)                      0.437561
Terminator 3: Rise of the Machines (2003)                     0.422009
Bewitched (2005)                                              0.420513
Blade II (2002)                                               0.419840
Charlie's Angels: Full Throttle (2003)                        0.410094
Prince of Persia: The Sands of Time (2010)                    0.409871
Spider-Man (2002)                                             0.408530
Zathura (2005)                                                0.402179
Legend of Zorro, The (2005)                                   0.399117
Serendipity (2001)                                            0.398564
Morning Glory (2010)                                          0.398224
Sorcerer's Apprentice, The (2010)                             0.397278
Name: Daredevil (2003), dtype: float64

In [168]:
movies = movies.T

In [169]:
movies

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
svd = TruncatedSVD(n_components=12)

In [114]:
movie = pd.DataFrame(svd.fit_transform(movies))

In [170]:
movie

,0,1,2,3,4,5,6,7,8,9,...,661,662,663,664,665,666,667,668,669,670
0,1.000000,0.089035,-0.057707,0.707700,0.134955,0.436556,0.489858,0.053814,0.110796,0.368105,...,0.032910,0.031155,0.148590,0.275289,0.044643,0.091707,0.082930,0.326502,0.004333,0.168481
1,0.089035,1.000000,0.542486,0.307831,0.418208,0.074202,0.624369,0.258855,0.487914,0.212192,...,0.977777,0.534291,0.176054,0.474954,0.985289,0.931950,0.466664,0.146360,0.698980,0.246577
2,-0.057707,0.542486,1.000000,0.441531,0.644916,0.613209,0.572332,0.900868,0.851399,0.672780,...,0.566959,0.809055,0.596608,0.631167,0.615445,0.472285,0.788691,0.624985,0.867816,0.837922
3,0.707700,0.307831,0.441531,1.000000,0.388126,0.604343,0.830691,0.475717,0.468780,0.786009,...,0.263859,0.469050,0.270411,0.611199,0.293622,0.233240,0.356851,0.733854,0.388178,0.606866
4,0.134955,0.418208,0.644916,0.388126,1.000000,0.626177,0.311037,0.677580,0.602452,0.272764,...,0.510223,0.360567,0.404281,0.902470,0.422908,0.284919,0.341686,0.503155,0.455128,0.715984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,0.091707,0.931950,0.472285,0.233240,0.284919,0.114473,0.640586,0.234575,0.520316,0.240339,...,0.847079,0.507069,0.185877,0.360302,0.892144,1.000000,0.547867,0.207994,0.758919,0.256957
667,0.082930,0.466664,0.788691,0.356851,0.341686,0.545234,0.495761,0.700457,0.795842,0.602723,...,0.415611,0.579590,0.391537,0.316545,0.502692,0.547867,1.000000,0.612946,0.897562,0.694397
668,0.326502,0.146360,0.624985,0.733854,0.503155,0.721226,0.618802,0.756984,0.749611,0.850229,...,0.091521,0.509933,0.423618,0.680579,0.137211,0.207994,0.612946,1.000000,0.611507,0.864606
669,0.004333,0.698980,0.867816,0.388178,0.455128,0.470479,0.664182,0.751389,0.889552,0.656419,...,0.645272,0.737117,0.433256,0.505719,0.728625,0.758919,0.897562,0.611507,1.000000,0.729282
670,0.168481,0.246577,0.837922,0.606866,0.715984,0.836984,0.591652,0.940004,0.858322,0.783531,...,0.243765,0.631144,0.524489,0.738970,0.276910,0.256957,0.694397,0.864606,0.729282,1.000000

In [119]:
movie = movie.T

In [120]:
movie = movie.corr()

In [150]:
movie[2]

0     -0.057707
1      0.542486
2      1.000000
3      0.441531
4      0.644916
         ...
666    0.472285
667    0.788691
668    0.624985
669    0.867816
670    0.837922
Name: 2, Length: 671, dtype: float64

In [141]:
list(movies.T.index).index("'Hellboy': The Seeds of Creation (2004)")

2

In [154]:
movie_title = movies.columns

In [163]:
list(movie_title[movie[2] >= 0.9])

IndexError: boolean index did not match indexed array along dimension 0; dimension is 9064 but corresponding boolean dimension is 671

In [39]:
rating_data.drop('timestamp', axis=1, inplace=True)

In [158]:
movie_title

Index(['"Great Performances" Cats (1998)', '$9.99 (2008)',
       ''Hellboy': The Seeds of Creation (2004)',
       ''Neath the Arizona Skies (1934)', ''Round Midnight (1986)',
       ''Salem's Lot (2004)', ''Til There Was You (1997)',
       ''burbs, The (1989)', ''night Mother (1986)',
       '(500) Days of Summer (2009)',
       ...
       'Zulu (1964)', 'Zulu (2013)', '[REC] (2007)', 'eXistenZ (1999)',
       'loudQUIETloud: A Film About the Pixies (2006)', 'xXx (2002)',
       'xXx: State of the Union (2005)', '¡Three Amigos! (1986)',
       'À nous la liberté (Freedom for Us) (1931)', 'İtirazım Var (2014)'],
      dtype='object', name='title', length=9064)

In [293]:
rating_data=pd.read_csv("ratings.csv")
movie_data=pd.read_csv("movies.csv")

In [294]:
movie_data.drop('genres', axis=1, inplace=True)

In [295]:
movie_data

      movieId                                              title
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
...       ...                                                ...
9120   162672                                Mohenjo Daro (2016)
9121   163056                               Shin Godzilla (2016)
9122   163949  The Beatles: Eight Days a Week - The Touring Y...
9123   164977                           The Gay Desperado (1936)
9124   164979                              Women of '69, Unboxed

[9125 rows x 2 columns]

In [296]:
rating_data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [297]:
user_movie_data = pd.merge(rating_data, movie_data, on='movieId')

In [298]:
user_movie_data

,userId,movieId,rating,timestamp,title
0,1,31,2.5,1260759144,Dangerous Minds (1995)
1,7,31,3.0,851868750,Dangerous Minds (1995)
2,31,31,4.0,1273541953,Dangerous Minds (1995)
3,32,31,4.0,834828440,Dangerous Minds (1995)
4,36,31,3.0,847057202,Dangerous Minds (1995)
...,...,...,...,...,...
99999,664,64997,2.5,1343761859,War of the Worlds (2005)
100000,664,72380,3.5,1344435977,"Box, The (2009)"
100001,665,129,3.0,995232528,Pie in the Sky (1996)
100002,665,4736,1.0,1010197684,Summer Catch (2001)
100003,668,6425,1.0,993613478,"6th Man, The (Sixth Man, The) (1997)"

In [299]:
user_movie_rating = user_movie_data.pivot_table('rating', index='userId', columns='title').fillna(0)

In [300]:
user_movie_rating = user_movie_rating

In [301]:
from sklearn.decomposition import TruncatedSVD # 차원 축소

In [302]:
SVD = TruncatedSVD(n_components=12)

In [303]:
mat = SVD.fit_transform(user_movie_rating)

In [304]:
mat.shape

(671, 12)

In [305]:
movie_corr = np.corrcoef(mat)

In [306]:
movie_corr

array([[ 1.        ,  0.05332941, -0.04934989, ...,  0.38480421,
         0.03845568,  0.14978829],
       [ 0.05332941,  1.        ,  0.53333251, ...,  0.17079494,
         0.7160606 ,  0.26163365],
       [-0.04934989,  0.53333251,  1.        , ...,  0.69141287,
         0.90316381,  0.85081619],
       ...,
       [ 0.38480421,  0.17079494,  0.69141287, ...,  1.        ,
         0.59948867,  0.86338611],
       [ 0.03845568,  0.7160606 ,  0.90316381, ...,  0.59948867,
         1.        ,  0.71801055],
       [ 0.14978829,  0.26163365,  0.85081619, ...,  0.86338611,
         0.71801055,  1.        ]])

In [307]:
mat.shape

(671, 12)

In [308]:
mat

array([[ 1.07914767e+00,  9.52019883e-01,  3.06141408e-01, ...,
         1.83905271e-01,  4.21374656e-01, -4.80511110e-01],
       [ 9.47543539e+00,  1.58779138e+00, -1.35577471e+01, ...,
        -1.22428933e+00, -4.66212748e-01,  8.60290643e-01],
       [ 7.81091778e+00, -3.23305019e+00, -2.29530626e+00, ...,
        -3.96328413e-01, -2.05314856e+00, -6.91460191e-01],
       ...,
       [ 3.62297943e+00,  3.85882999e-01,  7.94170029e-03, ...,
         2.79620625e-01, -1.46117483e+00,  3.28649892e-01],
       [ 6.58375607e+00, -2.74590018e-01, -3.07771050e+00, ...,
        -6.59417008e-01, -1.71582711e+00, -3.34104847e-01],
       [ 2.08411155e+01, -4.67046856e+00, -6.62919952e-01, ...,
         8.60316798e-01, -6.55477482e+00,  2.30929752e+00]])

In [309]:
movie_corr

array([[ 1.        ,  0.05332941, -0.04934989, ...,  0.38480421,
         0.03845568,  0.14978829],
       [ 0.05332941,  1.        ,  0.53333251, ...,  0.17079494,
         0.7160606 ,  0.26163365],
       [-0.04934989,  0.53333251,  1.        , ...,  0.69141287,
         0.90316381,  0.85081619],
       ...,
       [ 0.38480421,  0.17079494,  0.69141287, ...,  1.        ,
         0.59948867,  0.86338611],
       [ 0.03845568,  0.7160606 ,  0.90316381, ...,  0.59948867,
         1.        ,  0.71801055],
       [ 0.14978829,  0.26163365,  0.85081619, ...,  0.86338611,
         0.71801055,  1.        ]])

In [310]:
movie_corr.shape

(671, 671)

In [278]:
mat[0]

array([ 0.01227491,  0.00250758,  0.01554885, -0.03398225, -0.0144578 ,
        0.00360244, -0.00238348,  0.04511305, -0.01626652, -0.02180811,
        0.01206061, -0.00992547])

In [292]:
list(movie_title[movie_corr[bm_index] >= 0.9])

IndexError: boolean index did not match indexed array along dimension 0; dimension is 671 but corresponding boolean dimension is 9064

In [290]:
movie_title=user_movie_rating.columns
movie_title_list=list(movie_title)

In [291]:
bm_index = movie_title_list.index("Baby Mama (2008)")

ValueError: 'Baby Mama (2008)' is not in list

In [282]:
bm_index

636

In [283]:
movie_title

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            662, 663, 664, 665, 666, 667, 668, 669, 670, 671],
           dtype='int64', name='userId', length=671)

In [284]:
movie_corr[bm_index]

array([ 0.6549371 ,  0.48274612, -0.53976011, ...,  0.12437539,
        0.26782745,  0.1630749 ])

In [285]:
len(movie_title)

671

In [286]:
movie_corr.shape

(9064, 9064)

In [287]:
bm_index

636